.grid {
	width: 400px;
	height: 600px;
	background-image: url('background.png');
    opacity: 0.9;
	position: relative;
	font-size: 100px;
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px; 
    background-blend-mode: lighten;
}
.doodler {
	width: 31px;
	height: 85px;
	background-image: url('elf.png');
	position: absolute;
}

.platform {
	width: 85px;
	height: 15px;
	background-image: url('platform.png');
	position: absolute;
}
button {
	width: 400px;
	height: 30px;
	background-color: green;
	position: absolute;
	font-size: 20px;
	text-align: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px; 
	text-shadow: 2px 2px #000000;
}
button:disabled,
button[disabled]{
    opacity: 0.0;
}
